.span_data{
color:rgb(240,94,68);
}

.span_stuff{
	color:rgb(58,143,183);
}

.span_grey{
	color: rgb(86,108,115);
}

#footer{
	padding: 1%;
	height: 15vh;
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(43,73,112,0.5);
	text-align: center;
}

@font-face {
	font-family: 'MyFont';
	src: url('../fonts/lxk.woff') format("woff"),
		 url('../fonts/lxk.ttf') format("ttf");
}


#last_text{
	min-width: 320px;
	width:40% ;
	text-indent:2em;
	margin: 0 auto;
}

#real_last_text{
	min-width: 320px;
	width:40% ;
	text-indent:2em;
	margin: 0 auto;
	margin-bottom: 10em;
}
#note_text{
	min-width: 320px;
	width:22% ;
	text-indent:2em;
	font-style: italic;
	text-align: left;
	color:gray;
	margin:0 auto;
}

#data_source_and_reference{
	min-width: 320px;
	width:22% ;
	text-align: left;
	color:gray;
	font-size: 12px;
	margin:0 auto;
	margin-bottom: 4rem;
}

.svg_icon{
	width: 1rem;
	height: 1rem;
	margin-top:0.1rem
}

#scroll_down_icon{
	margin: 0 auto;
}

#pde-sim{
	width: 480px;
	height: 330px;
	margin:20vh auto auto auto;
	position: relative;
}


