.fade-in {
    -webkit-animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1 6s both;
    animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1 6s both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.virushake1{
    -webkit-animation: virushake1 3.5s linear infinite both;
    animation: virushake1 3.5s linear infinite both;
}

@-webkit-keyframes virushake1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
    40% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    60% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }
    80% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes virushake1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
    40% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    60% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }
    80% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}


.virushake2{
    -webkit-animation: virushake2 4s linear infinite both;
    animation: virushake2 4s linear infinite both;
}

@-webkit-keyframes  virushake2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-12px, 12px);
        transform: translate(-12px, 12px);
    }
    40% {
        -webkit-transform: translate(-12px, -12px);
        transform: translate(-12px, -12px);
    }
    60% {
        -webkit-transform: translate(12px, 12px);
        transform: translate(12px, 12px);
    }
    80% {
        -webkit-transform: translate(12px, -12px);
        transform: translate(12px, -12px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}


@keyframes virushake2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(12px, -12px);
        transform: translate(12px, -12px);
    }
    40% {
        -webkit-transform: translate(12px, 12px);
        transform: translate(12px, 12px);
    }
    60% {
        -webkit-transform: translate(-12px, 12px);
        transform: translate(-12px, 12px);
    }
    80% {
        -webkit-transform: translate(-12px, -12px);
        transform: translate(-12px, -12px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.virushake3 {
    -webkit-animation: virushake3 7s linear infinite both;
    animation: virushake3 7s linear infinite both;
}


@-webkit-keyframes virushake3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    10% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    20% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    30% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
    40% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }
    50% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    60% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    70% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
    80% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    90% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes virushake3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    10% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    20% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    30% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
    40% {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px);
    }
    50% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    60% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    70% {
        -webkit-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
    80% {
        -webkit-transform: translate(-5px, -5px);
        transform: translate(-5px, -5px);
    }
    90% {
        -webkit-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.slide-in-fwd-center {
    -webkit-animation: slide-in-fwd-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
    animation: slide-in-fwd-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}

.slide-in-fwd-center-delayed {
    -webkit-animation: slide-in-fwd-center 3.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
    animation: slide-in-fwd-center 3.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}


@-webkit-keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes  slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-center-delayed {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@-webkit-keyframes  slide-in-fwd-center-delayed {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
.scroll_down_icon{
    -webkit-animation: scroll_down_icon 1.2s linear infinite both;
    animation: scroll_down_icon 1.2s linear infinite both;
}

@-webkit-keyframes scroll_down_icon {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    50% {
        -webkit-transform: translate(0px, 5px);
        transform: translate(0px, 5px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes scroll_down_icon {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    50% {
        -webkit-transform: translate(0px, 5px);
        transform: translate(0px, 5px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.text-focus-in {
    -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.2s both;
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.2s both;
}


@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.slide-in-elliptic-top-fwd {
    -webkit-animation: slide-in-elliptic-top-fwd 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-elliptic-top-fwd 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}
@keyframes slide-in-elliptic-top-fwd {
    0% {
        -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 1400px;
        transform-origin: 50% 1400px;
        opacity: 1;
    }
}